.order{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.order__label{
    background: #6A5FE9;
    border-radius: 50px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */


    color: #FFFFFF;
    padding: 10px 50px;
    margin: 10px;
}

.icon__step__list{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.agree__header{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    color: #040404;
    margin: 50px 10px;
}

.order__btn{
    background: linear-gradient(90deg, #EB08F0 0%, #2A25FA 100%);
    border-radius: 18px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height */

    color: #FFFFFF;
    
    margin:0 auto;
    padding:5px 100px;
}

.order__flex{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.red__text{
    font-weight: bold;
    color:red;
}

.total__line{
    height:5px;
    width: 70%;
    background-color: black;
    margin: auto;
}

.may-skip{
    margin: 30px 10px;
    font-family: Poppins;
    color:blue;
}