.header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 46px;
    /* identical to box height */
    
    
    color: #000000;
    
}

.summary{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    width: 535px;
    color: #4B4B4B;
}

@media (max-width:1000px) {
    .summary{
        width:300px;
    }
}